<%- include("partials/header") %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

<div class="full-page-with-nav container-fluid">
    <div class="row h-100">
        <div class='row mt-3 mt-md-5'>
            <h2>Categorías</h2>
        </div>
        
        <!-- Slider (Carousel) -->
        <section id="slider">
            <div class="container">
                <div class="subcontainer">
                    <div class="slider-wrapper">
                        <div>
                            <!-- <h2>Categorías</h2> -->
                            <div class="controller">
                                <div id="controls">
                                    <button id="previous-cat" class="btn-lg btn-circle btn-primary previous"><</button>
                                    <button id="next-cat" class="btn-lg btn-circle btn-primary next">></button>
                                </div>
                            </div>
                        </div>                            
                    </div>
                    <br>
                    <div class="my-slider">
                        <% for (var i = 0; i < categories.length; i++)  {   %>
                        <div>
                            <div class="slide">
                                <div class="card" style="height: 9rem; width: 16rem;">
                                    <img class="card-img" src=<%=categories[i].imgSrc%> >  alt="Category img" style="height: 100%; object-fit: cover;">
                                    <div class="card-img-overlay">
                                        <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
                                            <a href="/retas/get_all_by_category/<%= categories[i].name %>">
                                                <button class="btn btn-dark rounded-pill fw-bold py-auto px-4 py-2" type="button" id="btnCat"><%= categories[i].name %></button>
                                            </a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%  } %>                        
                    </div>
                </div>
            </div>
        </section>
        <hr />
      <div class='row mt-2 px-3 px-lg-5 pt-2'>
        <h2>Todas las retas</h2>
      </div>
      <div class="row mt-2 px-3 px-lg-5 pt-2">
                <% retas.forEach(function(reta) { %>
                    <div class="col-md-4 col-12">
                        <div class="card text-white">
                            <% for (var i = 0; i < categories.length; i++)  {   %>
                                <% if (reta.category == categories[i].name) {%>
                                    <img id="retaImg" src="<%= categories[i].imgSrc %>" class="card-img" alt="" style= "height: 36vh; object-fit: cover; overflow: auto; "/>
                                <%  } %>
                            <%  } %>
                            <div class="card-img-overlay d-flex flex-column align-items-start">
                                <h5 class="card-title bg-dark rounded-pill py-2 px-4"><a class="text-white" href="/retas/<%= reta.id %>"> <%= reta.title %> </a></h5>
                            </div>
                            <div class="card-footer bg-light text-dark">
                                <div class="row mb-2">
                                    <div class="col">
                                        <i class="fa fa-location-dot"></i>
                                        <%= reta.location %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <FontAwesomeIcon icon="faClock" />
                                        <i class="fa fa-clock"></i>
                                        <%= reta.time %>
                                    </div>
                                    <div class="col">
                                        <i class="fa fa-calendar"></i>
                                        <%= reta.date%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
       </div>
    </div>
</div>

<link rel="stylesheet" href="/css/slider.css">
<script src="/js/slider.js"></script>
<script src="/js/home.js"></script>

<%- include("partials/footer") %>